<% layout('/layout/main') -%>

<% block('title', 'Események'); -%>
<% block('header', 'Események'); -%>


<% events.forEach(function(event) { %>
    <article class="uk-card uk-card-default uk-card-hover uk-grid-collapse uk-margin" typeof="Event" uk-grid>

        <div class="uk-width-1-4@s">
            <div class="uk-card-media-left uk-cover-container">
                <img src="/img/<%= event.image %>">
            </div>
        </div>
        <div class="uk-width-3-4@s">
            <div class="uk-card-body">
                <div class="uk-card-badge uk-align-right">
                    <time datetime="<%= event.createdAt %>"><%= event.date %></time>
                </div>
                <h3 class="uk-card-title"><%= event.name %></h3>
                <p>
                    <%= event.description %>
                </p>
                <a class="uk-button uk-button-text" href="/hirek/<%= event._id %>">Tovább olvasom</a>
            </div>
        </div>


    </article>
<% }); %>
