<h1>Csapat szerkesztése</h1>

<div class="ui form">
  <%= form_with(model: @team, local: true) do |form| %>
    <% if @team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

        <ul>
          <% @team.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= form.label :name, 'Csapatnév' %>
      <%= form.text_field :name %>
    </div>

    <% if current_user&.admin? %>
      <div class="field">
        <%= form.label :score %>
        <%= form.number_field :score %>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :image, 'Kép (.jpg, .jpeg vagy .png)' %>
      <%= form.file_field :image %><br>
      <% if form.object.image? %>
        <%= image_tag form.object.thumb %><br>
        <%= form.label :remove_image, 'Kép törlése' %>
        <%= form.check_box :remove_image %>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit 'Mentés', class: 'ui button' %>
    </div>
  <% end %>
</div>
