<h1><%= @page.title %></h1>

<%= @page.content.html_safe %>
<br>
<%= link_to 'Szerkesztés', edit_page_path(@page), class: 'ui button' if admin? %>

<h2>Csapatok</h2>

<%= link_to 'Új csapat', new_team_path, class: 'ui button' if current_user&.can_create_team? %>

<div class="ui centered cards">
  <% @teams.each do |team| %>
    <div class="ui card">
      <div class="image">
        <% if team.image? %>
          <%= image_tag(team.image.url(:square_thumb), alt: 'Image') %>
        <% else %>
          <%= image_tag('profile-placeholder.png', alt: 'Image') %>
        <% end %>
        <span class="ui right ribbon label">
          <%= team.score %> pont
        </span>
      </div>
      <div class="content">
        <div class="header">
          <%= link_to team.name, team %>
        </div>
        <div class="description">
          <ul class="ui bulleted list">
            <% active_members(team).each do |membership| %>
              <li class="item">
                <%= link_to membership.user.name, user_path(membership.user) %>
                <% if membership.admin? %>
                  <i class="shield icon"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

