<h1><%= @page.title %></h1>

<%= @page.content.html_safe %>

<%= link_to 'Szerkesztés', edit_page_path(@page) if admin? %>

<h2>Csapatok</h2>

<%= link_to 'Új csapat', new_team_path, class: 'ui button' if current_user&.can_create_team? %>

<div class="ui cards">
  <% @teams.each do |team| %>
    <div class="ui card">
      <div class="content">
        <div class="header">
          <%= team.name %>
        </div>
        <span class="ui right ribbon label">
          <%= team.score %> pont
        </span>
        <div class="description">
          <ul class="ui bulleted list">
            <% active_members(team).each do |membership| %>
              <li class="item">
                <%= link_to membership.user.name, user_path(membership.user) %>
                <% if membership.admin? %>
                  <i class="shield icon"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= link_to '<div class="ui bottom attached button">Megtekintés</div>'.html_safe, team %>
    </div>
  <% end %>
</div>

