<p id="notice"><%= notice %></p>

<h1>
  <%= @team.name %>
</h1>

<p>
  <strong>Pontok:</strong>
  <%= @team.score %>
</p>
<% if @team.user_can_join?(current_user) %>
  <%= button_to 'Csatlakozás', team_memberships_path(@team), method: 'post' %> |
<% end %>
<% if admin? || current_user&.admin_of?(@team) %>
  <%= link_to 'Szerkesztés', edit_team_path(@team) %>
<% end %>
<h3>Aktív tagok</h3>
<% active_members(@team).each do |membership| %>
  <%= link_to membership.user.name, user_path(membership.user) %>
  <% if membership.admin? %>
    <i class="shield icon"></i>
  <% end %>
<% end %>

<% if inactive_members(@team).size > 0 %>
  <h3>Feldolgozás alatt</h3>
  <% inactive_members(@team).each do |membership| %>
    <%= link_to membership.user.name, user_path(membership.user) %>
    <% if current_user&.admin_of?(membership.team)  %>
      <%= link_to 'Elfogadás', team_membership_approve_path(membership.team, membership), method: 'put' %>
    <% end %>
  <% end %>
<% end %>