<p id="notice"><%= notice %></p>

<h1>
  <%= @team.name %>
</h1>

<p>
  <strong>Pontok:</strong>
  <%= @team.score %>
</p>
<% if @team.user_can_join?(current_user) %>
  <%= button_to 'Csatlakozás', team_memberships_path(@team), method: 'post', class: 'ui button primary' %>
<% end %>
<% if admin? || current_user&.admin_of?(@team) %>
  <%= link_to 'Szerkesztés', edit_team_path(@team) %>
<% end %>
<h3>Aktív tagok</h3>
<ul class="ui bulleted list">
  <% active_members(@team).each do |membership| %>
    <li class="item">
      <%= link_to membership.user.name, user_path(membership.user) %>
      <% if membership.admin? %>
        <i class="shield icon"></i>
      <% end %>
      <% if membership.can_destroy?(current_user) %>
        <%= link_to '<i class="trash alternate icon"></i>'.html_safe, team_membership_destroy_path(membership.team, membership), method: 'delete', class: 'mini ui icon button negative' %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if inactive_members(@team).size > 0 %>
  <h3>Feldolgozás alatt</h3>
  <% inactive_members(@team).each do |membership| %>
    <%= link_to membership.user.name, user_path(membership.user) %>
    <% if current_user&.eql?(membership.user) %>
      <%= link_to 'Jelentkezés visszavonása', team_membership_decline_path(membership.team, membership), method: 'delete' %>
    <% end %>
    <% if current_user&.admin_of?(membership.team)  %>
      <%= link_to 'Elfogadás', team_membership_approve_path(membership.team, membership), method: 'put' %>
      <%= link_to 'Elutasítás', team_membership_decline_path(membership.team, membership), method: 'delete' %>
    <% end %>
  <% end %>
<% end %>