<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @membership.owner %>
</p>

<p>
  <strong>Active:</strong>
  <%= @membership.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @membership.user %>
</p>

<p>
  <strong>Team:</strong>
  <%= @membership.team %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
