<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @entry.comment %>
</p>

<p>
  <strong>Team:</strong>
  <%= @entry.team %>
</p>

<p>
  <strong>Event:</strong>
  <%= @entry.event %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
