<h2>Schörpong Bajnokság</h2>
<p>A Schörpong Bajnokságban csapatok versengenek egymással fordulóról fordulóra, hogy minél több pontot zsebelhessenek be az összesített ranglistán, amelyek később nyereményeket és végtelen elismerést jelentenek majd a számukra.</p>

<p>Ahhoz, hogy csapatod lehessen, a következőket teheted:</p>
<p>Bejelentkezés után alapíthatsz egy saját csapatot - s ezzel Te leszel annak Csapatkapitánya -, vagy megkereshetsz egy már létezőt és jelentkezhetsz bele.</p>

<ul>
  <li>Egy csapatnak maximum 3 játékosa lehet, amiből a fordulókra kettesével tudtok majd nevezni</li>
  <li>Egy játékos maximum 2 csapatban lehet benne. Ez alól kivétel bármelyik Csapatkapitány (CsK), aki csakis a saját csapatában játszhat.</li>
  <li>Bármikor el lehet hagyni egy csapatot. Ezt a CsK nem teheti meg. Ekkor ugyanis megszűnik a csapata.</li>
</ul>
<p>Ha már van csapatod, nagyon egyszerű a többi: keresd meg a weboldalon aktuális eseményünket és pipáld be, hogy ott lesztek!</p>

<p>Dobjátok be magatokat! ;)</p>

<h1>Hírek</h1>
<%= link_to 'Új hír', new_article_path, :class => "ui button primary" if admin? %>

<div class="ui">
<% @articles.each do |article| %>
  <div class="ui segment red stackable two column grid">
    <div class="image four wide column">
      <img src="http://placehold.it/356x356">
    </div>
    <div class="content twelve wide column">
      <h2><%= article.title %>
        <span class="meta floated right"> <%= time_ago_in_words article.created_at %></span>
      </h2>
      <p><%= article.intro %></p>
      <%= link_to 'Tovább olvasom', article, :class => "ui button right floated" %>
      <% if current_user&.admin? %>
        <%= link_to 'Szerkesztés', edit_article_path(article), :class => "ui button" %>
        <%= link_to 'Törlés', article, method: :delete, data: {confirm: 'Biztosan törlöd?'}, :class => "ui button negative" %>
      <% end %>
    </div>
  </div>
<% end %>
</div>
