<p id="notice"><%= notice %></p>

<h1>Hírek</h1>
<% if current_user.admin? %>
  <%= link_to 'Új hír', new_article_path, :class => "ui button" %>
<% end %>

<% @articles.each do |article| %>
  <div class="ui segment">
    <h2><%= article.title %></h2>
    <p><%= article.intro %></p>
    <%= link_to 'Tovább olvasom', article, :class => "ui button" %>
  </div>
<% end %>
