<p id="notice"><%= notice %></p>

<h1>Hírek</h1>
<%= link_to 'Új hír', new_article_path, :class => "ui button primary" if admin? %>

<div class="ui">
<% @articles.each do |article| %>
  <div class="ui segment red stackable two column grid">
    <div class="image four wide column">
      <img src="http://placehold.it/356x356">
    </div>
    <div class="content twelve wide column">
      <h2><%= article.title %>
        <span class="meta floated right"> <%= time_ago_in_words article.created_at %></span>
      </h2>
      <p><%= article.intro %></p>
      <%= link_to 'Tovább olvasom', article, :class => "ui button right floated" %>
      <% if current_user&.admin? %>
        <%= link_to 'Szerkesztés', edit_article_path(article), :class => "ui button" %>
        <%= link_to 'Törlés', article, method: :delete, data: {confirm: 'Biztosan törlöd?'}, :class => "ui button negative" %>
      <% end %>
    </div>
  </div>
<% end %>
</div>
