<p id="notice"><%= notice %></p>

<h2>
  <%= @article.title %>
</h2>

<!-- TODO: show the picture at the top maybe? -->

<p>
  <strong>
    <%= @article.intro %>
</strong>
</p>

<p>
  <%= @article.content.html_safe %>
</p>

<% if current_user&.admin? %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
