<p id="notice"><%= notice %></p>

<h2>
  <%= @article.title %>
</h2>

<p>
  <strong>
    <%= @article.intro %>
</strong>
</p>

<p>
  <%= @article.content.html_safe %>
</p>

<% if current_user&.admin? %>
  <%= link_to 'Szerkesztés', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Vissza', articles_path %>
