<% layout('../layout/main') -%>
<% block('title', 'Hírek'); -%>
<% block('header', 'Hírek'); -%>

<% articles.forEach(function(article) { %>
    <article class="uk-card uk-card-default uk-card-hover uk-grid-collapse uk-margin" typeof="Article" uk-grid>

        <div class="uk-width-1-4@s">
            <div class="uk-card-media-left uk-cover-container">
                <img src="/img/<%= article.image %>">
            </div>
        </div>
        <div class="uk-width-3-4@s">
            <div class="uk-card-body">
                <div class="uk-card-badge uk-align-right">
                    <time datetime="<%= article.createdAt %>"><%= article.date %></time>
                </div>
                <h3 class="uk-card-title"><%= article.title %></h3>
                <p>
                    <%= article.intro %>
                </p>
                    <a class="uk-button uk-button-text" href="/hirek/<%= article._id %>">Tovább olvasom</a>
            </div>
        </div>


    </article>
<% }); %>

