<p id="notice"><%= notice %></p>

<h1>
  <%= @user.name %>
</h1>

<% if admin? %>
  <p>
    <%= @user.mail %>
  </p>
  <%= link_to 'Szerkesztés', edit_user_path(@user) %>
<% end %>

<h2>Csapatok</h2>
<ul class="ui bulleted list">
  <% @user&.memberships.each { |membership| %>
    <li class="item">
      <%= link_to membership.team.name, team_path(membership.team) %>
      <% if !membership.active? %>
        &nbsp;(feldolgozás alatt)
      <% end %>
      <% if membership.admin? %>
        <i class="shield icon"></i>
      <% end %>
    </li>
  <% } %>
</ul>
