<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Auth sch:</strong>
  <%= @user.auth_sch_id %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>Csapatok:</p>
<ul class="ui bulleted list">
  <% @user&.memberships.each { |membership| %>
    <li class="item">
      <%= link_to membership.team.name, team_path(membership.team) %>
      <% if !membership.active? %>
        &nbsp;(feldolgozás alatt)
      <% end %>
      <% if membership.admin? %>
        <i class="shield icon"></i>
      <% end %>
    </li>
  <% } %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
