<p id="notice"><%= notice %></p>

<p>
  <%= @user.name %>
</p>

<% if current_user&.admin? %>
  <p>
    <%= @user.mail %>
  </p>
<% end %>

<p>Csapatok:</p>
<ul class="ui bulleted list">
  <% @user&.memberships.each { |membership| %>
    <li class="item">
      <%= link_to membership.team.name, team_path(membership.team) %>
      <% if !membership.active? %>
        &nbsp;(feldolgozás alatt)
      <% end %>
      <% if membership.admin? %>
        <i class="shield icon"></i>
      <% end %>
    </li>
  <% } %>
</ul>

<% if current_user&.admin? %>
  <%= link_to 'Edit', edit_user_path(@user) %> | 
<% end %>
<%= link_to 'Back', users_path %>
