<div id="<%= dom_id rent %>">
  <p>
    <strong>Item:</strong>
    <%= rent.item.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rent.user.name %>
  </p>

  <p>
    <strong>Begin:</strong>
    <%= rent.begin %>
  </p>

  <p>
    <strong>End:</strong>
    <%= rent.end %>
  </p>

  <p>
    <strong>State:</strong>
    <%= rent.state %>
  </p>

</div>
