<p id="notice"><%= notice %></p>

<h1>Események</h1>

<%= link_to 'Új esemény', new_event_path, :class => "ui button primary" if admin? %>

<% @events.each do |event| %>
  <div class="ui red segment">
    <h2><%= event.name %></h2>
    <p><%= event.intro %></p>
    <%= link_to 'Tovább', event, :class => "ui button" %>
    <% if current_user&.admin? %>
      <%= link_to 'Szerkesztés', edit_event_path(event), :class => "ui button" %>
      <%= link_to 'Törlés', event, method: :delete, data: { confirm: 'Biztosan törlöd?' }, :class => "ui button negative" %>
    <% end %>
  </div>
<% end %>
