<h1>
  <%= @event.name %>
</h1>
<div class="wrapper">
  <div class="event-content">
    <p>
      <strong>
        <%= @event.intro %>
      </strong>
    </p>

    <p>
      <%= @event.content.html_safe %>
    </p>
    <% if current_user&.admin? %>
      <%= link_to 'Szerkesztés', edit_event_path(@event), class: 'ui button' if admin? %>
    <% end %>
  </div>
    <div class="event-applied-teams">
      <h3 class="applied-teams-title">Nevezett csapatok</h3>
      <div class="ui centered cards">
        <% @event.entry.each do |entry| %>

          <div class="ui card">
            <div class="content">
              <div class="header">
                <%= link_to entry.team.name, team_path(entry.team), class: 'item team-name-item' %>
              </div>
              <% if admin? %>
                <div class="description">
                  <%= entry.comment %>
                </div>
              <% end %>
            </div>
              <% if admin? %>
                <div class="extra content">
                  <div class="ui grid row">
                    <div class="eight wide column">
                      Megjelent
                    </div>
                    <div class="eight wide column right aligned">
                      <div class="ui toggle checkbox">
                        <%= check_box_tag 'showed_up', 'showed_up', entry.showed_up, class: 'showed-up', entry: entry.id, event: @event.id %>
                        <label></label>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>

      <% if @event.users_team_can_entry?(current_user) %>
        <%= form_for @entry, url: event_entries_path(@event), method: 'post', :html => {class: 'ui form'} do |form| %>
        <div class="fields">
          <div class="field">
            <%= form.select 'team_id', @event.users_memberships(current_user).collect {|m| [ m.team.name, m.team.id ] },
                                { include_blank: true }, class: 'ui dropdown'  %>
          </div>
          <div class="field">
            <%= form.text_area :comment, :rows => '1', :placeholder => 'Megjegyzés' %>
          </div>
          <div class="field">
            <%= form.submit 'Csatlakozás', class: 'ui button' %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

  <div class="event-deadlines">
    <p>
      <strong>Jelentkezési határidő</strong>
    </p>
    <h3 class="datetime-text">
      <%= @event.application_deadline.strftime('%Y. %-m. %d. %H:%M') %>
    </h3>
    <br>
    <p>
      <strong>Esemény időpontja</strong>
    </p>
    <h3 class="datetime-text">
      <%= @event.event_date.strftime('%Y. %-m. %d. %H:%M') %>
    </h3>
  </div>
</div>
