<p id="notice"><%= notice %></p>

<h1>
  <%= @event.name %>
</h1>

<p>
  <%= @event.image %>
</p>

<p>
  <strong>
    <%= @event.intro %>
  </strong>
</p>

<p>
  <%= @event.content.html_safe %>
</p>

<p>
  <strong>Jelentkezése határidő:</strong>
  <%= @event.application_deadline %>
</p>

<p>
  <strong>Esemény időpontja:</strong>
  <%= @event.event_date %>
</p>
<h3>Nevezett csapatok</h3>
<ul class="ui bulleted list">
  <% @event.entry.each do |entry| %>
    <%= link_to entry.team.name, team_path(entry.team), class: 'item' %>
  <% end %>
</ul>
<% if @event.users_team_can_entry?(current_user) %>
  <%= form_for @entry, url: event_entries_path(@event), method: 'post', class: 'ui form' do |form| %>
    <%= form.select 'team_id', @event.users_memberships(current_user).collect {|m| [ m.team.name, m.team.id ] },
               { include_blank: true }, class: 'ui dropdown'  %>

    <%= form.text_area :comment %>
    <%= form.submit 'Csatlakozás', class: 'ui button' %>
  <% end %>
<% end %>
<br>

<% if current_user&.admin? %>
  <%= link_to 'Szerkesztés', edit_event_path(@event) if admin? %>
<% end %>
