<div class="ui top fixed menu stackable inverted">
  <div class="container ui">
    <%= link_to "Hírek", articles_path, :class => "item" %>
    <%= link_to "Események", events_path, :class => "item" %>
    <div class="ui dropdown item">
      Kölcsönzés
      <div class="menu">
        <%= link_to "Eszközök", "/items", :class => "item" %>
        <%= link_to "Kölcsönzéseim", users_rents_path, :class => "item" if logged_in? %>
        <%= link_to "Összes kölcsönzés", rents_path, :class => "item" if admin? %>
      </div>
    </div>
    <%= link_to "Rólunk", "/pages/about", :class => "item" %>
    <%= link_to "Szabályok", "/pages/rules", :class => "item" %>
    <%= link_to "Csapatok", teams_path, :class => "item" %>
    <div class="right menu">
      <% if logged_in? %>
        <div class="ui dropdown item">
          <%= current_user.name %>
          <div class="menu">
            <%= link_to "Profilom", user_path(current_user), :class => "item" %>
            <%= link_to "Felhasználók", users_path, :class => "item" if admin? %>
            <%= link_to "Kijelentkezés", logout_path, :class => "item", :method => :post %>
          </div>
        </div>
        <div class="item">
          <a class="anim">Animáció</a>
          <label class="switch">
            <input type="checkbox" id="toggle_visited"
                   <% if current_user.animation_enabled? %>checked
                   <% end %>
                   onclick="toggleAnimationHandler(this)">
            <span class="slider round"></span>
          </label>
        </div>
      <% else %>
        <div class="ui dropdown item">
          <a>Bejelentkezés</a>
          <div class="menu">
            <%= link_to "AuthSCH-s Bejelentkezés", oauth_login_path, :class => "item", method: :post %>
            <%= link_to "Email-es Bejelentkezés", email_login_page_path, :class => "item" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
