<!DOCTYPE html>
<html>
  <head>
    <title>Schorpong</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render 'navbar' %>
    <header class="page-header">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0, 0, 0, 100, 100, 100"/>
      </svg>
      <div class="logo">
        <img src="/images/logo.png">
      </div>
    </header>
    <div class="ui container">
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>
    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        <a href="http://kir-dev.sch.bme.hu" target="_blank">
          <img class="ui centered mini image" src="/images/kirdev.png">
        </a>
        <div class="ui horizontal inverted small divided link list">
          <a class="item" href="https://www.facebook.com/schorpong/">
            <i class="icon facebook"></i>Schörpong
          </a>
          <a class="item" href="mailto:schorpong@sch.bme.hu">
            <i class="icon mail"></i>schorpong@sch.bme.hu
          </a>
        </div>
        <div class="ui inverted section"></div>
      </div>
    </div>
    <script>
      $('.ui.dropdown').dropdown();
    </script>
  </body>
</html>
