<!DOCTYPE html>
<html>
<head>
  <title>Schörpong</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<%= render 'navbar' %>
<header class="big-page-header page-header">
  <div class="animation">
    <div class="ball"></div>
    <div class="cups"></div>
    <div class="cups_back"></div>
    <div class="logo_background"></div>
  </div>
</header>
<section class="ui container">
  <p id="notice"><%= notice %></p>
  <%= yield %>
</section>
<%= render 'footer' %>
<script>
    $('.ui.dropdown').dropdown();
</script>
</body>
</html>
